#476d5672fe8146508df04ededdfd2690{

}
#f7af58e272f7436b8a533a3cbba4d783 {
    position: fixed;
}
#newci{
    background: rgba(75,75,73,0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: -100vw;
}